.nb-loader {
  display: contents;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: @main-theme;
    z-index: 1000;
    transition: opacity 0.2s ease;

    &._fullscreen {
      position: fixed;
      inset: 0;
      width: 100vw;
      height: 100vh;
    }

    &._inline {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }

  &__spinner {
    --color-1: @main-accent-color;
    --size: 1px;
    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border: calc(5 * var(--size)) solid var(--color-1);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
