.nb-library {
  &__container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #0b1120;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background-color: #0b1120;
    color: #cbd5e1;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__overview {
    display: flex;
    height: 100%;
    gap: 32px;
  }

  &__highchart {
    min-width: 0;
  }
}
