.nb-library {
  &__container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #0b1120;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    background-color: #0b1120;
    color: #cbd5e1;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__overview {
    display: flex;
    height: 100%;
    gap: 32px;
  }

  &__highchart {
    min-width: 0;
  }

  &__examples {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  &__example-container {
    min-width: 0;
    border: 1px solid #1e293b;
  }

  &__example-name {
    border-bottom: 1px solid #1e293b;
    padding: 20px;
  }

  &__example-highchart {
    padding: 20px;
  }
}
