<div
  class="nb-card__container taCardContainer"
  [style.background]="color"
  [class._light-background]="isLightBackground"
>
  <div class="nb-card__icon-wrapper">
    <nb-icon [name]="icon" size="24"></nb-icon>
  </div>

  <div class="nb-card__content">
    <div class="nb-card__title taCardTitle">{{ title }}</div>
    <div *ngIf="description" class="nb-card__description">
      {{ description }}
    </div>
  </div>

  <ng-container *ngIf="showFavouriteIcon">
    <nb-icon class="nb-card__favourite-icon taFavouriteIcon" name="star" size="18"></nb-icon>
  </ng-container>
</div>
