<ng-container *ngIf="!translateService.isLoading(); else loading">
  <aside class="nb-menu__sidebar">
    <div class="nb-menu__sidebar-header">
      <span class="nb-menu__logo-text">{{ "label.menu" | translate }}</span>
      <button class="nb-menu__lang-toggle-btn taLangToggleBtn" title="Switch Language" (click)="_toggleLanguage()">
        <span class="nb-menu__lang-icon taLangIcon">{{ _currentLanguage }}</span>
      </button>
    </div>

    <div class="nb-menu__search-container">
      <div class="nb-menu__search-box taMenuSearch">
        <nb-icon class="nb-menu__search-icon" name="search"></nb-icon>
        <input
          type="text"
          [placeholder]="'label.searh.menu.placeholder' | translate"
          [(ngModel)]="searchQuery"
        />
      </div>
    </div>

    <div class="nb-menu__menu-list">
      <ng-container *ngIf="filteredItems.length !== 0; else noResults">
        <button
          *ngFor="let item of filteredItems"
          class="nb-menu__menu-item taMenuItem"
          [class.active]="activeItemId === item.id"
          (click)="_selectItem(item)"
        >
          {{ item.label | translate }}
        </button>
      </ng-container>
    </div>

    <div class="nb-menu__sidebar-footer">
      <div class="nb-menu__user-card">
        <div class="nb-menu__avatar">
          <nb-icon name="user"></nb-icon>
        </div>
        <div class="nb-menu__user-info">
          <span class="nb-menu__user-name">{{ "label.banko.name" | translate }}</span>
          <span class="nb-menu__user-email">{{ "label.banko.email" | translate }}</span>
        </div>
      </div>
    </div>
  </aside>
</ng-container>

<ng-template #noResults>
  <div class="nb-menu__no-results taMenuNotFound">{{ "label.not.found" | translate }}</div>
</ng-template>

<ng-template #loading>
  <nb-loader></nb-loader>
</ng-template>
